#inputGroup-sizing-default{
    width: 11rem;
}

.single-container{
    align-items: center;
    margin-left: auto;
    margin-right: auto;    
    border: 3px black solid;
    align-items: center;
    border-width: medium;
    border-radius: 1em;
    padding: 1em;
    width: 25rem;
    background-color: rgb(75, 14, 65);
}
