<h1 class="fw-300 text-center ">Contact</h1>

<h2 class="fw-300 text-center">Fill the information</h2>
<div class="container content-centered">
    <fieldset action="#">

            <Legend>Contact information</Legend>
            <label for="name">Name:</label>
            <input type="text" id="fname" placeholder="Type your name">

            <label for="ext">Phone Extension:</label>
            <input type="tel" id="ext" placeholder="Type your extension">

    </fieldset>

    <input class="button-green" type="submit" value="Send">
</div>
