.full-container{

    text-align: center;
    background-color: slategray;
}
h2{
    text-align: center;
    background-color: rgb(133, 133, 238);
    border-radius: 2rem;
    margin-left: auto;
    margin-right: auto;
}
